	/*----------------------------------------
		| FOR ALL |
	----------------------------------------*/
* {
	text-decoration: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}
button {cursor: pointer;}
.text_center{text-align: center;}.d_flex{display: flex;}.text_left{text-align: left;}.text_right{text-align: right;}.float_right{float: right;}.float_left{float: left;}
.text_white{color: white;}.text_blue{color: #29ABE2;}.cursor_pointer{cursor: pointer;}
.f_16 {font-size: 16px;}
.m_b_8 {margin-bottom: 8px;}.m_b_20 {margin-bottom: 20px;}
.m_t_10 {margin-top: 10px;}.m_t_20 {margin-top: 20px;}.m_t_25 {margin-top: 25px;}.m_t_30 {margin-top: 30px;}
.m_r_20{margin-right: 20px;}
.d_grid {display: grid;}.d_none {display: none;}
@media screen and (min-width: 769px) {
	.gap_l_50 {grid-gap: 50px;}.gap_l_30 {grid-gap: 30px;}
}
@media screen and (max-width: 768px) {
	.gap_s_20 {grid-gap: 20px;}
}
@media screen and (max-width: 600px) {
	.grid_sm_none {grid-template-columns: auto;grid-gap: 0px;}
}
body {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}
.react-loading-skeleton.green{
    --base-color:white;
    --highlight-color: green;
}
div::-webkit-scrollbar,body::-webkit-scrollbar {width: 4px;}
div::-webkit-scrollbar-track,body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
div::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#main {
	height: 100vh;
    width: 100%;
}
.input_m_div .btn_submit,.input_m_div .btn_cancel {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
}
.input_m_div .btn_submit {background: linear-gradient(180deg, #29ABE2 0%, rgba(17, 127, 169, 0.81) 100%);}
.input_m_div .btn_cancel {background: #851b1b;}
.input_m_div label {display: block;margin-bottom: 13px;}
.input_m_div {margin-bottom: 13px;}
.input_m_div textarea, .input_m_div input,.input_m_div select {
    border-radius: 12px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0px;
}
.dashboard_pages .future_form {
    border: 1px solid #787878;
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
	/*dark working*/
.d_dark .input_m_div textarea,.d_dark .input_m_div input,.d_dark .input_m_div select {background: #515151;color: #B2B2B2;}
	/*light working*/
.d_light .input_m_div textarea,.d_light .input_m_div input,.d_light .input_m_div select {background: #D8D8D8;color: #474747;}
.dashboard_pages .future_forsight_card {
    box-shadow: 0px 4px 8px 8px rgb(255 255 255 / 20%);
    border-radius: 34px;
    padding: 13px 13px 25px;
}
.dashboard_pages .future_forsight_card img {width: 100%;border-radius: 22px;}
		/*LOADER*/
#main_loader {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 9;
}
#main_loader div {
    position: relative;
    width: 250px;
    height: 250px;
    background: #ec5840;
    border-radius: 100%;
    opacity: 0.7;
    margin: auto;
}
#main_loader div:before {
    content: "Loading";
    text-align: center;
    line-height: 220px;
    font-size: 40px;
    color: #EEEEEE;
    top: 15px;
    left: 15px;
    font-weight: 700;
    z-index: 1;
    position: absolute;
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background: rgba(0,0,0,1);
}
#main_loader div:after {
    content: "";
    display: block;
    z-index: 0;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: linear-gradient( 420deg, transparent 50%, #CECECE 50%), linear-gradient(90deg, #CECECE 50%, transparent 50% );
    -webkit-animation: spinner 2s infinite linear;
    animation: spinner 2s infinite linear;
}
@-webkit-keyframes spinner {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}
@keyframes spinner {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
	/*----------------------------------------
		| LOGINS PAGES |
	----------------------------------------*/
.logins_page {
	background: url(../img/login_bg-lg_img.png) center center no-repeat;
    background-size: cover;
}
.logins_page .clearfix {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background: rgba(29, 29, 29, 0.85);
}
.logins_page .form_container {
    position: absolute;
    background: rgba(71, 71, 71, 0.6);
    border-radius: 22px;
    padding: 40px;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logins_page .p_s_colors {
    position: absolute;
    border-radius: 22px;
    margin: 0;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logins_page .p_s_colors div {
    background: #474747;
    border-radius: 8px;
    font-size: 13px;
    color: white;
    padding: 35px 15px;
    margin-bottom: 25px;
    text-align: center;
}
.logins_page .p_s_colors div.active {background: #2091BF;}
.logins_page .form_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 25px 0;
}
.logins_page .input_icons .icon {
    position: absolute;
    padding: 18px;
    height: 55px;
}
.logins_page .input_icons .icon img {
    width: 20px;
    height: 20px;
}
.logins_page .input_field {
    width: 100%;
    padding: 12px 10px 11px 52px;
    border-radius: 14px;
    height: 55px;
    font-size: 17px;
    font-weight: 600;
    color: #313131e8;
    border: none;
    background: rgba(244, 244, 244, 0.3);
}
.logins_page .input_field::placeholder {color: #313131e8;}
.logins_page .btn_submit {
    background: linear-gradient(180deg, #29ABE2 0%, rgba(17, 127, 169, 0.81) 100%);
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
    color: white;
    padding: 12px;
}
.logins_page .btn_signup {width: 30%;}
.logins_page .btn {
    padding: 13px 33px;
    border-radius: 14px;
    letter-spacing: .6px;
    font-size: 14px;
}
.logins_page .btn.btn_primary {
	border: none;
    background: linear-gradient(180deg, #29ABE2 0%, rgba(17, 127, 169, 0.81) 100%);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
	color: white;
}
.logins_page .btn.btn_outline_primary {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    background-color: unset;
}
		/*LOGIN PAGE RESPONSIVENESS*/
@media screen and (max-width: 600px) {
	.logins_page .form_container {
		background: unset;
	    border-radius: 0px;
	    transform: translate(-50%, -53%);
	    padding: 0;
	    width: 80%;
	}
	.logins_page .form_title {margin: 60px 0 35px;}
	.logins_page .input_field {font-size: 16px;}
	.logins_page .forgot_pass {font-size: 14px;}
	.logins_page .form_footer {margin-top: 35%;}
	.logins_page .grid_item {display: none;}
	.logins_page .grid_item.active {display: block;}
	.logins_page .btn_signup {width: 100%;}
	.logins_page .p_s_colors {
	    position: relative;
	    border-radius: 22px;
	    margin: 0;
	    left: unset;
	    transform: unset;
	    top: 89%;
	    display: grid;
	    grid-template-columns: auto auto;
	    grid-gap: 20px;
	    justify-content: center;
	}
	.logins_page .p_s_colors div {
	    padding: 19px;
	    width: 100%;
	}
}
        /*TOASTR CSS*/
.toast {
    position: absolute;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .8;
    z-index: 9;
    right: 1%;
    /*display: none;*/
    top: 3%;
    cursor: pointer;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    filter: alpha(opacity=100);
}
/*.toast.show {display: block;}*/
.toast-title {
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 1px;
}
.toast.toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important;
    background-color: #51a351;
}
.toast.toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important;
    background-color: #2f96b4;
}
.toast.toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important;
    background-color: #f89406;
}
.toast.toast-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important;
    background-color: #bd362f;
}
	/*----------------------------------------
		| DASHBOARD PAGES |
	----------------------------------------*/
		/*DASHBOARD SIDEBAR*/
#d_menu_sidebar {
	height: 100vh;
}
			/*dark working*/
.d_dark #d_menu_sidebar {
    background-color: #474747;
}
			/*light working*/
.d_light #d_menu_sidebar {
    background-color: #EAEAEA;
}
#d_menu_sidebar .sidebar_logo {
	height: 10vh;
    padding: 20px 0;
    display: block;
}
#d_menu_sidebar .sidebar_logo img {
	position: relative;
    display: inline-block;
    width: 100%;
    max-width: 45%;
}
#d_menu_sidebar .sidebar_links {height: 78vh;}
#d_menu_sidebar .sidebar_links #main_ul {
    padding: 30px 0;
    list-style: none;
}
#d_menu_sidebar .sidebar_links #main_ul li {padding: 8px 20px;cursor: pointer;}
#d_menu_sidebar .sidebar_links #main_ul li h4 {font-weight: 600;}
#d_menu_sidebar .sidebar_links #main_ul li svg {
    margin-right: 2px;
    padding-top: 5px;
    display: inline-block;
}
			/*dark working*/
.d_dark #d_menu_sidebar .sidebar_links #main_ul li h4 {color: #E4E4E4;}
.d_dark #d_menu_sidebar .sidebar_links #main_ul li svg {fill: #E4E4E4;}
.d_dark #d_menu_sidebar .sidebar_links #main_ul li.active,.d_dark #d_menu_sidebar .sidebar_links #main_ul li:hover {background: linear-gradient(87deg, #29ABE2 -2.61%, rgba(255, 255, 255, 0) 100%);}
			/*light working*/
.d_light #d_menu_sidebar .sidebar_links #main_ul li h4 {color: #474747;}
.d_light #d_menu_sidebar .sidebar_links #main_ul li svg {fill: #474747;}
.d_light #d_menu_sidebar .sidebar_links #main_ul li.active,.d_light #d_menu_sidebar .sidebar_links #main_ul li:hover {background: #509CBC;}
.d_light #d_menu_sidebar .sidebar_links #main_ul li.active h4,.d_light #d_menu_sidebar .sidebar_links #main_ul li:hover h4 {color: #E4E4E4;}
.d_light #d_menu_sidebar .sidebar_links #main_ul li.active svg,.d_light #d_menu_sidebar .sidebar_links #main_ul li:hover svg {fill: #E4E4E4;}
		/*DASHBOARD BODY*/

.d_body {
    padding: 30px 30px 0;
    height: 100vh;
    overflow: auto;
}
.card {
    border-radius: 12px;
    padding: 25px;
}
.dashboard_pages ul.list li {
    padding: 10px 30px;
    background: #0C94CD;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    margin: 15px 0;
}
.dashboard_pages ul.list li h4 span.i_right {
    -webkit-text-stroke-width: 2px;
    float: right;
}
.dashboard_pages ul.list li .i_left {
    float: left;
    width: 14px;
    height: 19px;
    margin-right: 7px;
}
.dashboard_pages ul.list li.catlist h5 {
    text-align: start;
    padding-left: 60px;
}
.edit_i {background: url(/assets/img/home/edit.svg) center center no-repeat;}
.delete_i {background: url(/assets/img/home/delete.svg) center center no-repeat;}
.download_i {
    background: url(/assets/img/home/download.svg) center center no-repeat;
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 10px;
}
.file_i {
    background: url(/assets/img/home/file.svg) center center no-repeat;
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 10px;
}
.dashboard_pages ul.list li h4 {-webkit-text-stroke-width: 0.41px;text-align: center;}
.dashboard_pages ul.list li .close,.dashboard_pages ul.list li.active .open {display: none;}
.dashboard_pages ul.list li.active .close {display: inline-block;}
.dashboard_pages ul.list li.sublist {background-color: #16536D;}
.dashboard_pages ul.list li.catlist {background-color: rgba(12, 148, 205, 0.5);}
.dashboard_pages ul.list li.add_list {
    background-color: white;
    border-radius: 0;
    color: black;
    padding: 6px;
}
.dashboard_pages ul.list li.selected,.dashboard_pages .future_forsight_card.selected {border: 2px solid;}
.dashboard_pages ul.list .input_m_div .btn_submit,.dashboard_pages ul.list .input_m_div .btn_cancel {
    width: unset;
    height: unset;
    padding: 4px 12px;
}
.d_light ul.list li.sublist {background-color: #3190b9;}
.dashboard_pages ul.list .input_m_div input {
    padding: 10px 20px;
    font-weight: 600;
}
.d_footer {
    position: sticky;
    top: 100%;
    margin-bottom: -10px;
}
.d_body .card h4 {line-height: 27px;}
.d_body .card #u_g_info .avatar {
    width: 60px;
    border-radius: 50%;
}
.d_body .card #u_g_info .infor_text {padding-top: 7px;}
.links_dropdown {
	position: relative;
}
.dropdown_content {
	display: none;
    position: absolute;
    width: 200px;
    right: 10%;
}
#u_g_info:hover .dropdown_content {display: block;}
#u_g_info .dropdown_ul li button {
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 14px 14px 14px 25px;
    box-shadow: 0px 7px 10px rgb(0 0 0 / 30%);
    font-size: 15px;
    font-weight: 600;
}
#change_theme_btn {
    margin-right: 15px;
    margin-top: 7px;
}
#swottowsdiv {
    background: url(../img/swottows.png) center center no-repeat;
    background-size: cover;
}
#swottowsdiv #swottowscat {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.3px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
#swottowsdiv ul li {
    padding: 29px 0px 31px 37px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 87%;
    cursor: pointer;
}
#swottowsdiv .right ul li {
    color: black;
    width: 85%;
    margin: 0 3rem;
}
#swottowsdiv .left ul.top li:nth-child(1) , #swottowsdiv .left ul.bottom li:nth-child(3) {margin: 0 8%;}
#swottowsdiv .left ul.top li:nth-child(2) , #swottowsdiv .left ul.bottom li:nth-child(2)  {margin: 0 4%;}
#swottowsdiv .right ul.top li:nth-child(1) , #swottowsdiv .right ul.bottom li:nth-child(3) {margin: 0 -8%;}
#swottowsdiv .right ul.top li:nth-child(2) , #swottowsdiv .right ul.bottom li:nth-child(2) {margin: 0 1%;}
			/*dark working*/
.d_dark #u_g_info .dropdown_ul li button {
	color: white;
    background: #323232;
    border: 1px solid #484848;
}
.d_dark #u_g_info .dropdown_ul li button svg {fill: white;}
.d_dark #change_theme_btn {fill: white;}
			/*light working*/
.d_light #u_g_info .dropdown_ul li button {
    color: #474747;
    background: #EAEAEA;
    border: 1px solid #C4C4C4;
}
.d_light #u_g_info .dropdown_ul li button svg {fill: black;}
.d_light #change_theme_btn {fill: #474747;}
#u_g_info .dropdown_ul li:first-child button {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#u_g_info .dropdown_ul li:last-child button {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
			/*dark working*/	
.d_dark .d_body {background: url(../img/d_dark_bg_img.png);background-color: #474747;}
.d_dark .d_body .card {
    color: white;
    background: rgba(71, 71, 71, 0.7);
}
.d_dark .d_body .card h4,.d_dark .d_body .card #u_g_info .infor_text h5 {font-weight: 500;}
			/*light working*/
.d_light .d_body {background-color: #d8d8d8;}
.d_light .d_body .card {
    color: #474747;
    background: #EBEBEB;
}
		/*DASHBOARD PROFILE PAGE*/
#profile_pg .edit_profile_icon {
    padding: 6px;
    border-radius: 50%;
    display: inline-flex;
    background-color: #29ABE2;
    border: none;
}
#profile_pg .edit_profile_icon svg {fill: #E4E4E4;}
#profile_pg #user_detials #u_h_img img {
    border-radius: 50%;
    padding: 15px;
    width: 230px;
}
#profile_pg #user_detials .u_info_ul {margin: 20px;}
#profile_pg #user_detials .u_info_ul li {padding: 15px 0;}
#profile_pg #user_detials .u_info_ul li .type_text {font-weight: 600;}
.d_dark #profile_pg #user_detials #u_h_img img {border: 3px solid #E4E4E4;}
.d_dark #profile_pg #user_detials .u_info_ul li {border-bottom: 1px solid #767676;}
.d_light #profile_pg #user_detials #u_h_img img {border: 3px solid #CECECE;}
.d_light #profile_pg #user_detials .u_info_ul li {border-bottom: 1px solid #C9C9C9;}
.d_light #profile_pg #user_detials .u_info_ul li .info_type {font-weight: 600;}
.d_light #profile_pg #user_detials .u_info_ul li .type_text {
    -webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
}
		/*DASHBOARD PAGES RESPONSIVENESS*/
			/*on laptop*/
@media screen and (max-width: 1024px) {
	.dashboard_pages #d_menu_sidebar .sidebar_links #main_ul li h4 {font-size: 14px;}
	#d_menu_sidebar .sidebar_links #main_ul li {
	    padding: 8px;
	}
	#d_menu_sidebar .sidebar_links #main_ul li svg {
		padding-top: 7px;
		margin-right: 0px;
	}
	.d_body .card h4 {font-size: 17px;}
}
			/*on tab*/
@media screen and (max-width: 768px) {}
			/*on mobile*/
@media screen and (max-width: 425px) {}
    /*----------------------------------------
        | WEB HOME PAGE |
    ----------------------------------------*/
        /*ONLY HOME CSS*/
#home {
    color: white;
    font-weight: 500;
    line-height: 29px;
}
#home b {
    -webkit-text-stroke-width: 1px;
    letter-spacing: 1px;
}
#home section {width: 100%;}
#home button {color: #FFFFFF;}
#home .btn_web {
    background: linear-gradient(180deg, #29ABE2 0%, #117FA9 100%);
    box-shadow: 0px 0px 30px rgb(41 171 226 / 70%);
    border-radius: 24px;
    border: none;
    padding: 20px 35px;
    font-size: 20px;
}
#home .sec_header {margin-bottom: 5%;}
#home .sec_title {
    font-size: 45px;
    font-weight: 900;
    word-spacing: 10px;
    -webkit-text-stroke-width: 3px;
    letter-spacing: 1px;
}
#home .sec_seperator {
    width: 130px;
    height: 8px;
    background: #29ABE2;
    display: inline-block;
}
#home #chart_types .d_grid {
    margin-bottom: 25px;
}
        /*HOME HEADER CSS*/
#home #header {
    height: 100vh;
    background: url(/assets/img/home/header_bg.png) center center no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}
#home #header .clearafix {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#home #header #header_body {
    vertical-align: middle;
    display: table-cell;
    z-index: 2;
    position: relative;
}
#home #header #header_body h1 {
    font-size: 66px;
    word-spacing: 15px;
    margin: 2% 0;
    letter-spacing: 3px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
}
#home #header #header_body h3 {
    font-size: 28px;
    margin: 3% 0;
    font-weight: 600;
}
#home #header #header_body #header_buttons button {margin: 0 2%;}
#home #header #header_menu {
    z-index: 2;
    position: relative;
    margin: 0 10%;
    padding: 20px 38px;
    background: rgba(48, 48, 48, 0.7);
    border-radius: 0px 0px 24px 24px;
}
#home #header #header_menu ul {
    display: flex;
    margin: 6% 0;
}
#home #header #header_menu ul li {margin: 0 4%;cursor: pointer;}
#home #header #header_menu button {margin: 9% 0;}
#h_sec_about_us #about_details_div .img_1 {max-width: 60%;}
#h_sec_about_us #about_details_div .img_2 {width: 21%;}
#h_sec_about_us #about_details_div .img_3 {max-width: 42%;}
        /*ONLY HOME SECTION 2*/
#h_sec_2 {
    height: 100vh;
    background: url(/assets/img/home/h_sec_2_bg.png) center center no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}
#h_sec_2 #h_sec_2_data {
    padding-top: 40%;
    padding-left: 8%;
    padding-right: 8%;
}
#h_sec_2 #h_sec_2_data #bard_code_img {width: 20%;}
        /*CHART SECTIONS*/
#h_sec_charts {
    background: url(/assets/img/home/h_sec_chart_bg.png) center center no-repeat;
    background-size: cover;
    background-color: #474747;
    padding: 6% 10%;
}
#h_sec_charts .chart_txt_grid {
    display: table;
    width: 100%;
}
#h_sec_charts .chart_txt_grid .chart_txt_wrap {
    display: table-cell;
    vertical-align: middle;
}
        /*OUR SERVICES*/
#h_sec_services {
    background: url(/assets/img/home/h_sec_services_bg.png) center center no-repeat;
    background-size: cover;
    background-color: #474747;
    padding: 6% 10%;
}
#h_sec_services #services_content .card {
    background: linear-gradient(180deg, #474747 0%, rgba(71, 71, 71, 0) 100%);
    box-shadow: 0px 4px 8px 8px rgb(255 255 255 / 20%);
    border-radius: 34px;
    padding: 15px;
}
#h_sec_services #services_content .card .card_img {
    margin-bottom: 20px;
}
#h_sec_services #services_content .card .card_img img {
    width: 100%;
}
        /*TEAM SECTION*/
#h_sec_team {
    background: url(/assets/img/home/h_sec_team_bg.png) center center no-repeat;
    background-size: cover;
    background-color: #474747;
    padding: 6% 10%;
}
#h_sec_team #team_content .card_img {
    background: #474747;
    box-shadow: inset 0px 4px 17px rgb(0 0 0 / 25%);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    line-height: 20;
    display: inline-block;
    margin-bottom: 20px;
}
        /*TESTIMONIALS SECTIONS*/
#h_sec_testimonials {
    background: url(/assets/img/home/h_sec_testimonials_bg.png) center center no-repeat;
    background-color: #303030;
    padding: 6% 10%;
    z-index: 2;
}
#home .sec_testimonail_side_img {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 190px;
    height: 420px;
    border-bottom-left-radius: 320%;
    background: url(/assets/img/home/h_sec_testimonials_side.png) center center no-repeat;
    background-color: #303030;
    background-blend-mode: luminosity;
}
#h_sec_testimonials .card {background: rgba(71, 71, 71, 0.7);margin: 10px 28px;}
#h_sec_testimonials .card img{margin-top: 10px;}
#h_sec_testimonials .card img:second-child{margin-top: 15px;}
#h_sec_testimonials .card p{padding: 30px 40px;}
section#h_sec_testimonials div#team_content .grid_item:nth-child(2) {margin-top: -70px;}
section#h_sec_testimonials div#team_content .grid_item:nth-child(2) p {padding-bottom: 60px;}
    /*Testimonial Counter Div*/
#testimonial_counter card{margin: unset;}
div#testimonial_counter .card {
    border-radius: unset;
    margin: unset;
}
div#testimonial_counter .card h2{
    color: #29ABE2;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
}
div#testimonial_counter .card p{padding: 0px;}
div#testimonial_counter {margin-top: 66px;}
    /*GET IN TOUCH SECTION*/
#h_get_in_touch {
    background: url(/assets/img/home/h_sec_get_in_touch.png) center center no-repeat;
    background-size: cover;
    background-color: #474747;
    padding: 6% 10%;
}
#h_get_in_touch h3{font-size: 50px;}
#h_get_in_touch .query_text{
    color: #29ABE2;
    font-size: 20px;
    font-weight: 900;
}
.query_content p {margin: 20px 0px;}
.query_content {padding: 45px;}
.input_field{width: 100%;}
.input_field input,.input_field textarea{
    background: #0000;
    border-color: #fff;
    border-width: 0px 0px 1px 0px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.input_field textarea{height: 80px;}
.query_form {
    background: #474747CC;
    padding: 70px;
    border-radius: 15px;
}
.query_form input {margin-bottom: 20px;}
/*media query */
@media screen and (min-device-width: 300px) and (max-device-width: 768px) { 
    div#home h1 {line-height: 33px;font-size: 26px !important;}
    div#services_content .grid_item {margin: 40px auto;}
    section#h_sec_testimonials .card {margin: unset !important;}
    section#h_sec_testimonials div#team_content .grid_item:nth-child(2) {margin: unset !important;}
    section#h_sec_testimonials div#team_content .grid_item {margin: 20px 0;}
    #h_sec_testimonials .card p {padding: 10px;}
    #h_get_in_touch h3 {font-size: 32px;}
}
        /*ABOUT US PAGE*/
#h_sec_about_us {
    background: url(/assets/img/home/about_us_bg.png) no-repeat;
    background-size: cover;
    background-color: #474747;
}
#h_sec_about_us .img_2 {
    position: absolute;
    margin-top: 7%;
    margin-left: -6%;
}
#mission_grid {
    background: url(/assets/img/home/mission_bg.png) center center no-repeat;
    background-size: cover;
    height: 650px;
    padding: 1.4% 9%;
}
#mission_grid .mission_txt_div {
    height: 60%;
    display: table;
    padding: 0 19%;
    margin-top: 2%;
}
#mission_grid .mission_txt_div h4 {
    display: table-cell;
    vertical-align: middle;
}
        /*HOME FOOTER CSS*/
#home #footer {
    background-color: #303030;
    padding: 6% 6% 0;
}
#home #footer #footer_footer {
    background: #474747;
    border-radius: 24px 24px 0px 0px;
    padding: 50px;
    margin-top: 10%;
}
#home #footer #vip_request_div {display: table;}
#home #footer #vip_request_div div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#home #footer ul#f_ul_with_i li {display: flex;}
#home #footer ul#f_ul_with_i li img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
            /*HOME PAGE MEDIA QUERIES*/
@media screen and (max-width: 2560px) {
    #home #header #header_menu ul {margin: 5% 0;}
    #home #header #header_menu button {margin: 8% 0;}
}
@media screen and (max-width: 1440px) {
    #home #header #header_menu ul li {margin: 0 2%;}
    #home #header #header_menu .d_grid {grid-template-columns: 34% 40% 14% !important;grid-gap: 5% !important;}
    #home #header #header_menu ul {margin: 7% 0;}
    #h_sec_2 #h_sec_2_data {padding-top: 48%;}
    #h_sec_about_us .img_2 {width: 20%;margin-left: -6%;}
    #mission_grid {padding: 5%;}
        /*ADMIN HEADER CSS*/
    .dashboard_pages #admin_header .d_grid {grid-template-columns: auto 51% auto !important;}
    .dashboard_pages #admin_header h1 {font-size: 30px;}
    .dashboard_pages .d_content ul.list li h4 , .dashboard_pages .d_content ul.list li h5 {font-size: 12px;line-height: 15px;}
    #swottowsdiv {height: 360px;}
    #swottowsdiv ul li {padding: 21px 0px 19px 26px;font-size: 15px;}
}
@media screen and (max-width: 1024px) {
    #home #header #header_menu ul {margin: 5% 0;}
    #home #header #header_body h1 {font-size: 37px;}
    #home #header #header_body h3 {font-size: 18px;}
    #home .btn_web {padding: 17px 30px;font-size: 10px;}
    #home #header #header_menu img {max-width: 110px;}
    #home #header #header_menu ul li h4 {font-size: 12px;}
    #home #footer ul li {font-size: 12px;margin-bottom: 0px;}
    #h_sec_charts #chart_types .d_grid {display: inline;}
    #h_sec_charts #chart_types .d_grid .grid_item {margin-top: 25px;}
    #h_sec_2 #h_sec_2_data {padding-top: 68%;}
    .query_content {padding: 13px;}
    .query_form {padding: 45px;}
    div.sec_testimonail_side_img {display: none;}
    div#testimonial_counter .card p {font-size: 15px;}
    #h_sec_testimonials .card {margin: 45px 10px;}
    #h_sec_testimonials .card p {padding: 30px 12px;}
    #h_sec_about_us #about_details_div h3 {font-size: 14px;line-height: 27px !important;}
    #mission_grid {height: 450px;padding: 4.5% 6%;}
    #mission_grid h2 {font-size: 19px;}
    #mission_grid h4 {font-size: 14px;line-height: 25px;}
    #mission_grid .mission_txt_div {height: 50%;}
        /*ADMIN HEADER CSS*/
    .dashboard_pages #admin_header h1 {font-size: 20px;}
    .dashboard_pages .d_content .grid_item.card {padding: 20px 10px;}
    .dashboard_pages .d_content ul.list li {padding: 7px 10px;}
    .dashboard_pages .d_content ul.list li h4, .dashboard_pages .d_content ul.list li h5 {font-size: 11px;}
    #swottowsdiv {height: 245px;}
    #swottowsdiv ul li {padding: 11px 0px 15px 17px;font-size: 12px;width: 82%;}
    #swottowsdiv #swottowscat {font-size: 10px;-webkit-text-stroke-width: 0.3px;}
    #swottowsdiv .right ul li {width: 81%;margin: 0 2rem;}
}
@media screen and (max-width: 768px) {
    #home #header #header_menu {padding: 11px 28px;}
    #home #header #header_menu ul {margin: 7% 0;}
    #home #header #header_menu ul li h4 {font-size: 9px;}
    #home #header #header_body #header_buttons button {margin: 0 1%;}
    #home .btn_web {padding: 14px 23px;}
    #home #header #header_menu button {margin: 13% 0;}
    #home #footer #footer_footer {padding: 18px;}
    #home #footer #footer_footer h3 {font-size: 8px;}
    #home #footer .d_grid {display: inline;}
    #home #footer .d_grid img {max-width: 150px;}
    #home #footer .d_grid .grid_item {margin-top: 20px;}
    #h_sec_team #team_content .d_grid {display: inline;}
    #h_sec_services #services_content .d_grid {display: inline;}
    #h_sec_2 #h_sec_2_data {padding-top: 93%;}
    #h_get_in_touch #team_content .gird_form {display: inline;}
    #h_sec_testimonials #team_content .d_grid {display: inline;}
    div#testimonial_counter .card p {font-size: 11px;}
    #h_sec_about_us #about_details_div .d_grid {display: inline;}
    #h_sec_about_us #about_details_div .d_grid .grid_item {margin-top: 30px;}
    #h_sec_about_us .img_2 {width: 40% !important;margin-top: 17%;margin-left: -11%;}
    #mission_grid {height: 350px;padding: 4.5% 5%;}
    #mission_grid h2 {font-size: 15px;}
    #mission_grid h4 {font-size: 10px;line-height: 19px;}
    #mission_grid .mission_txt_div {height: 38%;}
}
@media screen and (max-width: 425px) {
    #home #header #header_body h3 {font-size: 11px;}
    #home #header #header_body h1 {font-size: 15px !important;word-spacing: 0px !important;}
    #home .btn_web {font-size: 8px;padding: 9px 18px;}
    #home #header #header_menu {padding: 11px 15px;margin: 0 5%;}
    #home #header #header_menu img {width: 55px;}
    #home #header #header_menu ul li h4 {font-size: 6px;}
    #home #header #header_menu .d_grid {grid-template-columns: 28% 51% 14% !important;grid-gap: 3% !important;}
    #home #header #header_menu ul li {margin: 0 1%;}
    #home #header #header_menu ul {margin: 4% 0;}
    #home #header #header_menu button {font-size: 6px;padding: 6px 10px;}
    #home #header #header_body #header_buttons {margin-top: 33px;}
    #home #header #header_body #header_buttons button {display: block;margin: 6% auto;width: 160px;height: 45px;position: relative;}
    #h_sec_team #team_content .card_img {width: 200px;height: 200px;line-height: 17;}
    #h_sec_charts #chart_types .chart_img_wrap img {width: 100%;}
    #h_sec_2 {height: 52vh;}
    #h_sec_2 #h_sec_2_data {padding-top: 88%;}
    #h_sec_2 #h_sec_2_data #bard_code_img {margin-top: 17px;}
    div#testimonial_counter .card h2 {font-size: 12px;}
    div#testimonial_counter .card p {font-size: 6px;}
    div#testimonial_counter .card {padding: 0px;}
    #h_get_in_touch {padding: 6% 0%;}
    #h_sec_about_us .img_2 {margin-top: 18%;}
    #mission_grid {height: 170px;padding: 2.5% 9%;}
    #mission_grid h2 {font-size: 8px;}
    #mission_grid h4 {font-size: 6px;line-height: 9px;}
    #mission_grid br {display: none;}
    #mission_grid .mission_txt_div {height: 50%;}
}
@media screen and (max-width: 375px) {
    #mission_grid {padding: 2.5% 5%;}
}
@media screen and (max-width: 320px) {
    #h_sec_2 #h_sec_2_data {padding-top: 100%;}
    #h_sec_2 {height: 48vh;}
    .query_form {padding: 30px 15px;}
    #mission_grid {height: 145px;padding: 1.5% 5%;}
}
        /*MODAL CSS MAIN*/
.ReactModal__Content .close_modal {
    float: right;
    padding: 7px 10px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    background-color: #555555;
    border: none;
    color: white;
}
.select_kpi_model {color: white;}
.select_kpi_model .kpi_modl_btn {
    background: linear-gradient(180deg, #29ABE2 0%, rgba(71, 71, 71, 0.52) 100%);
    box-shadow: 0px 4px 4px rgb(255 255 255 / 60%);
    border: none;
    padding: 20px;
    border-radius: 50%;
}
.select_kpi_model .kpi_modl_btn img {max-width: 45px;}
